.section {
  position: relative;
  display: block;
  width: 200px;
  height: 300px;
  overflow: scroll;
}
.rojo {
  color: red;
  background-color: cyan;
  border: 5px solid black;
}
.grande {
  display: block;
  height: 150px;
  width: 300px;
  border-radius: 15px;
}
.esconder {
  opacity: 0;
}
